<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="Content/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="Content/icomoon.css">
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="Content/ionicons.min.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="Content/bootstrap.min.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="Content/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="Content/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="Content/owl.carousel.min.css">
    <link rel="stylesheet" href="Content/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="Content/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="Content/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="Content/style.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 col-md-9">
                        <div id="colorlib-logo"><a href="index.html">LPP Sneaker</a></div>
                    </div>
                    <div class="col-sm-5 col-md-3">
                        <form action="#" class="search-wrap">
                            <div class="form-group">
                                <input type="search" class="form-control search" placeholder="Search">
                                <button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-left menu-1">
                        <ul>
                            <li class="active"><a href="index.html">Home</a></li>
                            <li class="has-dropdown">
                                <a href="men.html">Men</a>
                                <ul class="dropdown">
                                    <li><a href="product-detail.html">Product Detail</a></li>
                                    <li><a href="cart.html">Shopping Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="order-complete.html">Order Complete</a></li>
                                    <li><a href="add-to-wishlist.html">Wishlist</a></li>
                                </ul>
                            </li>
                            <li><a href="women.html">Nữ</a></li>
                            <li><a href="about.html">Thông tin cửa hàng</a></li>
                            <li><a href="contact.html">Liên hệ</a></li>
                            <li class="cart"><a href="cart.html"><i class="icon-shopping-cart"></i> Cart [0]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LPP Sneaker Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Thông tin cửa hàng", "About", "Home")</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div>&copy; @DateTime.Now.Year - Nhóm 10 - Thương mại điện tử</div>
            <div><h3 style="font-weight: bold; font-style: normal; color: #95171F;">LPP Sneaker Shop</h3></div>
            <div>PHONE: 0944468037</div>
            <div>
                Địa chỉ cửa hàng: 01 Võ Văn Ngân, phường Linh Chiều, thành phố Thủ Đức, thành phố Hồ Chí Minh
            </div>
            <div>Email: lyhongphat261202@gmail.com</div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <!-- jQuery -->
    @Scripts.Render("~/bundles/bootstrap")
    <script src="Scripts/jquery.min.js"></script>
    
    <!-- popper -->
    <script src="Scripts/popper.min.js"></script>
    
    <!-- bootstrap 4.1 -->
    <script src="Scripts/bootstrap.min.js"></script>
    
    <!-- jQuery easing -->
    <script src="Scripts/jquery.easing.1.3.js"></script>
    
    <!-- Waypoints -->
    <script src="Scripts/jquery.waypoints.min.js"></script>
    
    <!-- Flexslider -->
    <script src="Scripts/jquery.flexslider-min.js"></script>
    
    <!-- Owl carousel -->
    <script src="Scripts/owl.carousel.min.js"></script>
    
    <!-- Magnific Popup -->
    <script src="Scripts/jquery.magnific-popup.min.js"></script>
    <script src="Scripts/magnific-popup-options.js"></script>
    
    <!-- Date Picker -->
    <script src="Scripts/bootstrap-datepicker.js"></script>
    
    <!-- Stellar Parallax -->
    <script src="Scripts/jquery.stellar.min.js"></script>
    
    <!-- Main -->
    <script src="Scripts/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
