@{
    ViewBag.Title = "DonTrongNgay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Đơn trong ngày</h2>

<h2>
    @Html.ActionLink("Đơn hàng chưa xác nhận:", "Index", "Orders", new { flag = 10 }, null) <span style="color: red;">@ViewBag.count_DonHangChuaXacNhan</span>
</h2>
<h2>
    @Html.ActionLink("Đơn hàng đã xác nhận:", "Index", "Orders", new { flag = 11 }, null) <span style="color: red;">@ViewBag.count_DonHangDaXacNhan</span>
</h2>
<h2>
    @Html.ActionLink("Đơn hàng shiper đã nhận:", "Index", "Orders", new { flag = 12 }, null) <span style="color: red;">@ViewBag.count_DonHangShiperDaNhan</span>
</h2>
<h2>
    @Html.ActionLink("Đơn hàng đã hoàn thành:", "Index", "Orders", new { flag = 13 }, null) <span style="color: red;">@ViewBag.count_DonHangDaHoanThanh</span>
</h2>

