@model WebApplication1.Models.CheckoutViewModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div class="colorlib-product">
    <div class="container">
        <div class="row row-pb-lg">
            <div class="col-sm-10 offset-md-1">
                <div class="process-wrap">
                    <div class="process text-center active">
                        <p><span>01</span></p>
                        <h3>Shopping Cart</h3>
                    </div>
                    <div class="process text-center active">
                        <p><span>02</span></p>
                        <h3>Checkout</h3>
                    </div>
                    <div class="process text-center">
                        <p><span>03</span></p>
                        <h3>Order Complete</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form method="post" class="colorlib-form" action="Checkout">
                    @Html.AntiForgeryToken()
                    <h2>Chi tiết đơn hàng</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fname">Tên khách hàng</label>
                                <input type="text" name="fname" class="form-control" placeholder="@Model.username">
                                <input type="text" name="cartId" value=@Request.Params["cartId"] hidden>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fname">Địa chỉ giao hàng</label>
                                <input type="text" name="address" class="form-control" placeholder="Nhập địa chỉ giao hàng">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Địa chỉ email</label>
                                <input type="text" id="email" class="form-control" placeholder="Nhập địa chỉ email của bạn">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Phone">Số điện thoại</label>
                                <input type="text" id="zippostalcode" class="form-control" placeholder="Nhập số điện thoại">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="radio">
                                    <label><input type="radio" name="optradio" value="1"> Trả tiền mặt</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p><button type="submit" class="btn btn-primary">Đặt hàng</button></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cart-detail">
                            <h2>Thanh toán giỏ hàng</h2>
                            @{ int total = 0; }
                            @foreach (var item in Model.cartItems)
                            {
                                total += (int)(item.unitPrice * item.quantity);
                            }
                            <ul>
                                <li>
                                    <span>Tổng tiền sản phẩm</span> <span style="text-align:right">@total</span>
                                    <ul>
                                        @foreach (var item in Model.cartItems)
                                        {
                                            <li><span >@item.quantity x @item.Stock.Product.productName</span> <span style="text-align:right">@(item.unitPrice * item.quantity)</span></li>
                                        }
                                    </ul>
                                </li>
                                @{ double ship;
                                    if (total > 500000)
                                    {
                                        ship = total * 5 / 100;
                                    }
                                    else if (total == 0)
                                    {
                                        ship = 0;
                                    }
                                    else
                                    {
                                        ship = 20000;
                                    }
                                }
                                <li><span>Phí vận chuyển</span>      <span style="text-align:right">@ship</span></li>
                                <li><span>Tổng thanh toán</span>     <span style="text-align:right">@(total+ship)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>